.panel {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 0.5rem;
}

.play-btn {
  color: var(--white100);
  padding: 1rem 0.8rem 1rem 1.2rem;
  border-radius: 50%;
}

.pause-btn {
  color: var(--white100);
  padding: 1rem;
  border-radius: 50%;
}

.restart-btn {
  color: var(--white300);
  border-radius: 9999px;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}

.clear-btn {
  color: var(--white300);
  padding: 1rem;
  border-radius: 50%;
}

.play-svg {
  height: 40px;
  width: 40px;
}

.restart-svg {
  height: 36px;
  width: 36px;
}

.pause-svg {
  height: 40px;
  width: 40px;
}

.clear-svg {
  height: 40px;
  width: 40px;
}
