/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

:root {
  /* sizes */
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;

  /* colors */
  --white100: #ffffff;
  --white200: #f2f2f2;
  --white300: #cccccc;

  --black900: #000000;

  --pink300: #f2b5c0;
  --pink500: #fea582;
  --pink700: #e23b6c;

  --green300: #86ebbf;
  --green500: #3de296;
  --green700: #3ac4ac;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white100);
  background-color: var(--black900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  height: 100vh;
  background: linear-gradient(
    45deg,
    var(--pink300),
    var(--white100),
    var(--green300)
  );
}

button {
  padding: 0;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--white100);
  background-color: var(--pink700);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black900);
    background-color: var(--white100);
  }
}
