:root {
  /* sizes */
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;

  /* colors */
  --white100: #ffffff;
  --white200: #f2f2f2;
  --white300: #cccccc;

  --black900: #000000;

  --pink300: #f2b5c0;
  --pink500: #fea582;
  --pink700: #e23b6c;
  --pink-gradient: linear-gradient(45deg, #e23b6c, #fea582);

  --green300: #86ebbf;
  --green500: #3de296;
  --green700: #3ac4ac;
  --green-gradient: linear-gradient(45deg, #3ac4ac, #3de296);

  --btn-shadow1: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  --btn-shadow2: inset 3px 3px 4px rgba(0, 0, 0, 0.2);

  font-family: "Signika Negative", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white100);
  background-color: var(--black900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green-theme {
  --green300: #f2b5c0;
  --green500: #fea582;
  --green700: #e23b6c;
  --green-gradient: linear-gradient(45deg, #e23b6c, #fea582);

  --pink300: #86ebbf;
  --pink500: #3de296;
  --pink700: #3ac4ac;
  --pink-gradient: linear-gradient(45deg, #3ac4ac, #3de296);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    45deg,
    var(--pink300),
    var(--white100),
    var(--green300)
  );
}

button {
  padding: 0;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--black900);
  background-color: transparent;
}

.bg-pink {
  background: var(--pink-gradient);
}

.bg-green {
  background: var(--green-gradient);
}

.text-pink {
  color: var(--pink700);
}

.text-green {
  color: var(--green700);
}

.text-gray {
  color: var(--white300);
}

.btn-active:active {
  transform: translate(2px, 2px);
  box-shadow: var(--btn-shadow2);
}
